@{
    ViewBag.Title = "What is Closure?";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<iframe width="820" height="450" src="//www.youtube.com/embed/XbgV3ZwZSXk?res=1&autoplay=0" frameborder="0" allowfullscreen></iframe>


    <h2>What is Closure?</h2>
    
    <div class="closureInfo">
        A Stylish  andrevolutionary patent that solves the problem of headphone tangel, simple and fast
        Today there is a lot of product the also solve this problem, The problem is that all of them are saeparate product, that the user need to remember to take with him when using headphones.
        The advantage of Closure is the fact that it always stay no the headhones cable.
        Closure is a complementary product, and connect the headphones cable using 2 slots at the sides of it.
        Closure made from rubber, Comfortable and pleasant to touch.
    </div>
    

