@{
    ViewBag.Title = "What is Closure?";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<iframe width="820" height="450" src="//www.youtube.com/embed/XbgV3ZwZSXk?res=1&autoplay=1" frameborder="0" allowfullscreen></iframe>

<section class="para">
    <h2>Head1</h2>
    <p>Content for Head1</p>
</section>