@model IEnumerable<Closure2.Models.Branch>

@{
    ViewBag.Title = "Search results";
}

<h2>Search a comment</h2>
<div class="TableFormat">
    <table>
        <td>Text
        </td>
        <td>Comment Date
        </td>
        <td>Post Id
        </td>
        <tr>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Street)
                </th>
            </tr>
        }
    </table>
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
