@model IEnumerable<Closure2.Models.PostModels>

@{
    ViewBag.Title = "Search results";
}

<h2>Search a post</h2>
<div class="TableFormat">
    <table>
        <td>Text
        </td>
        <td>Rating
        </td>
        <td>Post Date
        </td>
        <tr>
        </tr>
        @foreach (var item in Model)
        {
    
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postDate)
                </td>
            </tr>
        
        }
    </table>
</div>
<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
            